<%= form_for @question do |f| -%>
  <p><%= f.label :name %><%= f.text_field :name %></p>
  <p><%= f.text_field :email %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.text_area :text %></p>
  <p><%= f.submit "Cadastrar" %></p>
<% end -%>
